@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Repositório da aplicação: <a href="https://github.com/diegorvieira17/AppMvc">https://github.com/diegorvieira17/AppMvc</a>.</p>
</div>
